---
import "../styles/style.css"
import BarraDeNavegacion from '../components/BarraDeNavegacion'
import Footer from '../components/Footer'
---

<div class='main_layout'>
    <BarraDeNavegacion/>
        <slot></slot>
    <Footer/>
</div>

<script>
    if(window.location.hash) {
        const hashElement =  document.querySelector(window.location.hash)
        if(hashElement){
            hashElement.scrollIntoView(false);
        }
}
</script>